@import "tailwindcss";

:root {
  --primary: #46178f;
  --secondary: #250850;
  --accent: #eb1717;
  --bg-main: #f2f2f2;
  --success: #26890c;
  --warning: #ffa602;
  --info: #1368ce;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-info: var(--info);
}

body {
  @apply bg-[#f2f2f2] text-gray-900 min-h-screen font-sans;
  margin: 0;
}

#root {
  width: 100%;
}
